.my-bookings {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .ticket {
    border: 1px solid #777575;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  
  .value {
    margin-bottom: 1rem;
  }
  